@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url(/styles/footer.css);
@import url(/styles/header.css);
@import url(/styles/produtos.css);
@import url(/styles/contato.css);
@import url(/styles/beneficios.css);
@import url(/styles/principal.css);
@import url(/styles/mapa.css);

:root {
    --cor-principal: #654521;
    --cor-escuro: #896540;
    --cor-café: #ae8760;
    --cor-claro: #d5ab82;
    --cor-muitoclaro: #fcd0a6;
    --cor-branco: #FFFFFF;
}

body {
    font-family: 'Montserrat', sans-serif;
}


.banner {
    width: 100%;
}

@media screen and (max-width: 480px) {

    .caixa,
    .principal,
    .conteudo-beneficios,
    .mapa-conteudo,
    .video {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .lista-beneficios,
    .imagem-beneficios {
        width: 100%;
    }
}


/*SELETORES ESPECIAIS
main p {
background:
}
main + p {
background::
}
img-p{
background:
}
img+p{
background:
}
img~{
background:
}
principal p:not(#missao){
background: 
}



*/